 body {
     margin: 0;
     padding: 0;
     background: #06031d;
 }

 .bday {
     margin-top: 80px;
     text-align: center;
     background: linear-gradient(180deg, #f80112 0%, #2602f5 110%);
     -webkit-background-clip: text;
     /* -webkit-text-fill-color: transparent; */
     cursor: pointer;
     font-size: 90px;
     color: darkgrey;
 }

 .name {
     color: darkgrey;
     padding-right: 100px;
     margin-left: 530px;
     margin-top: 20px;
     text-align: center;
     -webkit-background-clip: text;
     cursor: pointer;
     font-size: 90px;
     display: inline-block;

 }

 @media screen and (min-width:768px) and (max-width:992px) {

     .name {
         margin-left: 400px;
     }



 }

 @media screen and (min-width:993px) and (max-width:1200px) {


     .name {
         margin-left: 450px;
         font-size: 100px;
     }
 }

 @media screen and (min-width:1201px) and (max-width:1400px) {


     .name {

         margin-left: 550px;
     }
 }

 @media screen and (min-width:1401px) and (max-width:1700px) {


     .name {

         margin-left: 690px;
     }
 }


 @media screen and (min-width:1701px) and (max-width:2000px) {


     .name {
         margin-left: 820px;
     }
 }








 p {
     text-align: center;
     font-size: 80px;
     color: darkgrey;
 }

 .wrapper {
     position: relative;
     width: 320px;
     margin: 150px auto;
     perspective: 1000px;
     margin-bottom: 500px;
 }

 .img-area {
     /* position: absolute; */
     width: 100%;
     height: 100%;
     transform-style: preserve-3d;
     transform: rotateY(-360deg)translateZ(-300px);
     animation: animate 25s steps(1000, end)infinite;
 }

 .single-img {
     /* position: absolute; */
     width: 300px;
     height: 200px;
     /* top: 10px; */
     /* left: 10px; */
 }

 .single-img img {
     width: 300px;
     height: 200px;
     border: 5px solid #fff;
 }

 .single-img.img-one {
     transform: rotateY(0deg) transltez(300px);
 }

 .single-img.img-two {
     transform: rotateY(0deg) transltez(300px);
 }

 .single-img.img-three {
     transform: rotateY(0deg) transltez(300px);
 }

 .single-img.img-four {
     transform: rotateY(0deg) transltez(300px);
 }

 img {
     filter: grayscale(90%);
     transition: 1s;
     cursor: pointer;
 }

 img:hover {
     transition: 4s;
     filter: grayscale(0);
 }

 @keyframes animate {
     from {
         transform: rotateY(0deg);
     }

     to {
         transform: rotateY(90deg);
     }
 }